body {background-color:teal;}
ul li {background-color:blueviolet;}
p {background-color:turquoise;}
footer p {background-color:tan}
.navi {background-color:white;}
#header1 {background-color:violet;}
#validation {background-color:royalblue;}
h1, h3 {background-color:olivedrab;}