*{
    box-sizing: border-box;
}

#body404{
    text-align:center;
}

#bg404{
    display: inline-block;
    margin: 0 auto;
    
    
}
#bgImg404{
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#Msg404{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 90%;
    width: 50%;
    margin: 0 auto;
    font-size:22px;
}

a#Link404:link{
    color: mediumblue;
}

a#Link404:visited{
    color: blueviolet;
}

body{
    background-color: #333333;
}

.wrapper{
    width: 70%;
    height: 90%;
    margin: auto;
    background-color: black;
    padding: 10px;
}

header{
    padding: 10px;
    height: 10%;
    background-image: url("coffee-roast.jpg");
    background-repeat: repeat-x;
    border-bottom: solid 3px black;
    border-right: solid 3px black;
    margin-bottom: 3px;
}

h1{
    padding: 20px;
    margin: auto;
    text-align: left;
    font-family: Impact, Charcoal, sans-serif;
    color: rgb(237, 151, 41);
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.flexbox{
    display: flex;
}

nav{
    flex: 1;
    padding: 5px;
    text-align: left;
    align-items: left;
    background-color: orangered;
}

.content{
    flex: 4;
    padding: 4px;
    margin: 4px;
}

aside{
    flex: 2;
}

fieldset{
    padding: 10px;
}

footer{
    font-size: .75em;
    background-color: black;
    color: white;
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 20px;
    text-align: center;
    
}

footer ul{
    display: flex;
    margin: auto;
    list-style-type: circle;
}
footer li{
    flex: 1;
}
footer a{
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

img{
    max-width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
    float: left;
}

aside p{
    margin-top: 5%;
    margin-bottom: 5%;
}

aside a{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

ul{
    display: flex;
    float: left;
    flex-direction: column;
    font-weight: bold;
    width: 60%;
}

    .directory{
    display: flex;
    align-items: center;
}

    .botnav{
        display: flex;
        flex-direction: row;
        
    }

    .botnav li{
	list-style-type: none;
	list-style-image: none;
    }
    
    .botLi{
        flex-direction: row;
        color: white;
        list-style-image: none;
        list-style-type: none;
    }

@media only screen and (max-width: 1000px)
{
    
    aside{
        display: none;
    }
    
    
}

@media only screen and (max-width: 740px){
    .flexbox{
        flex-direction: column;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    li{
        list-style-type: none;
        list-style-image: none;
        border-right: solid black 2px;
        padding-right: 5px;
        margin-left: 3px;
    }
    ul{
        display: flex;
        width: 90%;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-align: baseline;
    }
}